#lessonFrame img {
	max-height: 200px;
}
#lessonFrame {
	max-width:850px;
}
.imgFrame {
	float:left;
}

#navigationFrame, #nextButtonFrame, #scoreFrame, #lessonFrame, #userFrame {
	float: left;
	clear: both;
}

.question, .submit {
	clear:left;
	float:left;
}

.answerFrame {
	float:left;
	width:50%
}

.answer {
  border: black 1px solid;
  margin:10px;
  padding:10px;
  float:left;
}
		
.answer.good.clicked {
	background-color:rgb(200, 255, 200);
}
.answer.bad.clicked{
	background-color:rgb(255, 200, 200);
}		
div {
	margin: 20px;
}