#lessonFrame img {
	max-height: 200px;
}
#lessonFrame {
	width:550px;
}
#imgFrame {
	float:left;
}

#navigationFrame, #nextButtonFrame {
	float: left;
	clear: left;
}
span {
	float:left;
}

.answer {
	border: black 1px solid;
  margin:10px;
  padding:10px;
}
		
.answer.good.clicked {
	background-color:rgb(200, 255, 200);
}
.answer.bad.clicked{
	background-color:rgb(255, 200, 200);
}		
div {
	margin: 20px;
}