#lessonFrame img {
	max-height: 200px;
}
#lessonFrame {
	width:550px;
}
.imgFrame {
	float:left;
}

#navigationFrame, #nextButtonFrame, #scoreFrame {
	float: left;
	clear: left;
}
span {
	
}

.question {
	clear:right;
	float:left;
}


.answer {
	border: black 1px solid;
  margin:10px;
  padding:10px;
  float:left;
}
		
.answer.good.clicked {
	background-color:rgb(200, 255, 200);
}
.answer.bad.clicked{
	background-color:rgb(255, 200, 200);
}		
div {
	margin: 20px;
}